.chirp {
    list-style-type: none;
    padding: 6px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
}

.chirp p {
    margin-bottom: 0;
}

.timestamp {
    color: #d1d1d1;
}

.chirp img {
    display: none;
}

@media (min-width: 550px) {
    .chirp img {
        display: block;
        border-radius: 4px;
        width: 100%;
    }
}
